.title-dashboard {
    color: #fff;
    text-align: center;
    margin-top: 2rem; 
    margin-bottom: 2rem; 
    font-size: 2.5rem;
    font-weight: bold;
}

.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    min-height: 100vh;
    padding: 2rem;
}

.MuiAlert-root {
    margin-bottom: 1rem;
}

.album-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    width: 100%;
}

.album-card, .add-album-card {
    background: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 16px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.album-card-icons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 8px;
}

.album-card-content {
    margin-top: 16px;
}

.add-icon {
    font-size: 2rem;
    color:  #118b5c;
}

.add-album-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(217, 8, 8, 0.1);
    padding: 16px;
    width: calc(20% - 16px);
    margin-bottom: 20px; 
}

.add-icon {
    font-size: 2rem;
    cursor: pointer;
}

.add-icon:hover{
    transform: scale(1.4);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.album-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.album-card-link {
    text-decoration: none;
    color: inherit;
}

.album-card, .add-album-card {
    background: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 16px;
    width: calc(15% - 16px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.album-card:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
.album-card-icons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.album-card-content {
    margin-top: 16px;
}

.icon {
    cursor: pointer;
    font-size: 1.5rem;
    transition: color 0.3s, transform 0.3s;
}
.icon.delete {
    color: rgb(102, 26, 26); 
}
.icon.edit {
    color: rgb(106, 106, 24);
}
.icon:hover{
    transform: scale(1.4);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.add-album-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-icon {
    font-size: 2rem;
    cursor: pointer;
}

