/* App.css */
.app {
    position: relative; /* Garante que a SearchBar seja posicionada corretamente */
}


.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-height: 80vh;
    overflow-y: auto;
}

.modal form {
    display: flex;
    flex-direction: column;
}

.modal label {
    margin-top: 1rem;
    font-weight: bold;
}

.modal input[type="text"],
.modal input[type="number"],
.modal input[type="date"] {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.modal button {
    margin-top: 1rem;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.modal button[type="submit"] {
    background-color: #4caf50;
    color: white;
}

.modal button[type="submit"]:hover {
    background-color: #45a049;
}

.modal button[type="button"] {
    background-color: #f44336;
    color: white;
}

.modal button[type="button"]:hover {
    background-color: #e53935;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}
